<% if active_scaffold_config.list.filter_column -%>
  <div class="filter_columns">
    <% (active_scaffold_config.list.filter_column.is_a?(Array) ? active_scaffold_config.list.filter_column : [active_scaffold_config.list.filter_column]).each do |field| -%>
    <div class="filter_column_option">
      <label for="<%= field.to_s %>"><%= field.to_s.humanize %>:</label>
      <%= select_tag field, filter_option_helpers(field), :data_as_filter_column => true %>
    </div>
    <% end -%>
  </div>
<% end -%>
<h2><%= active_scaffold_config.list.user.label %></h2>
<% action_links = active_scaffold_config.action_links.collection %>
<% unless action_links.empty? -%>
  <div class="actions">
    <%= render :partial => 'action_group', :locals => {:action_links => action_links, :url_options => params_for, :traverse_options => nested? ? {:reverse => true} : {}} %>
    <%= loading_indicator_tag(:action => :table) %>
  </div>
<% end %>
